:root{
    --green-main:#00ff88;
    --green-dark:#003d2b;
    --bg-dark:#041b13;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: radial-gradient(circle at top, #062f21, #02110b);
    color: var(--green-main);
}

/* NAVBAR */
nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);
    z-index:1000;
}

nav h1{
    color:var(--green-main);
    text-shadow:0 0 10px var(--green-main);
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    color:#aaffdd;
    text-decoration:none;
}

nav ul li a:hover{
    color:var(--green-main);
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h2{
    font-size:3.5rem;
}

.hero span{
    color:var(--green-main);
    text-shadow:0 0 20px var(--green-main);
}

/* CONTAINER */
.container{
    padding:100px 60px;
}

/* TITLE */
.title{
    text-align:center;
    margin-bottom:40px;
    font-weight:600;
    text-shadow:0 0 10px var(--green-main);
}

.desc{
    text-align:center;
    max-width:700px;
    margin:auto;
    color:#aaffdd;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

/* CARD */
.card{
    padding:30px;
    border-radius:20px;
    background:rgba(0,255,136,0.05);
    backdrop-filter:blur(10px);
    text-align:center;
    transition:0.3s;
    border:1px solid rgba(0,255,136,0.2);
}

.card:hover{
    transform:translateY(-10px);
}

/* GLOW EFFECT */
.glow:hover{
    box-shadow:0 0 20px var(--green-main);
}

/* GALLERY */
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    border-radius:15px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px var(--green-main);
}

/* UPLOAD */
.upload{
    margin-top:40px;
    text-align:center;
}

#preview img{
    width:150px;
    margin:10px;
    border-radius:10px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px;
    background:#000;
    color:#66ffcc;
}
